/*	24 COLUMN : RESPONSIVE GRID SYSTEM
	DEVELOPER : DENIS LEBLANC
	URL : http://responsive.gs
	VERSION : 3.0
	LICENSE : GPL & MIT */


/* 	SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(/scripts/boxsizing.htc);
    /*	If you need support for IE7 and lower make
      sure the boxsizing.htc file is linked properly.
      More info here:  https://github.com/Schepp/box-sizing-polyfill */
}


/*	MAIN CONTAINER
	Set the width to whatever you want the width of your site to be. */
.container {
    margin: 0 5%;
}


/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
    content: "";
    display: table;
    clear: both;
}

/* 	DEFAULT ROW STYLES
	Set bottom padding according to preference */
.row { padding-bottom: 0; }


/* DEFAULT COLUMN STYLES */
.col {
    display: block;
    float: left;
    width: 100%;
}

@media ( min-width : 768px ) {

    .gutters .col {
        margin-left: 2%;
    }

    .gutters .col:first-child {
        margin-left: 0;
    }
}


/*	COLUMN WIDTH ON DISPLAYS +768px
	You might need to play with media queries here to suite your design. */
@media ( min-width : 768px ) {
    .span_1 { width: 4.16666666667%; }
    .span_2 { width: 8.33333333333%; }
    .span_3 { width:12.5%; }
    .span_4 { width: 16.6666666667%; }
    .span_5 { width: 20.8333333333%; }
    .span_6 { width: 25%; }
    .span_7 { width: 29.1666666667%; }
    .span_8 { width: 33.3333333333%; }
    .span_9 { width: 37.5%; }
    .span_10 { width: 41.6666666667%; }
    .span_11 { width: 45.8333333333%; }
    .span_12 { width: 50%; }
    .span_13 { width: 54.1666666667%; }
    .span_14 { width: 58.3333333333%; }
    .span_15 { width: 62.5%; }
    .span_16 { width: 66.6666666667%; }
    .span_17 { width: 70.8333333333%; }
    .span_18 { width: 75%; }
    .span_19 { width: 79.1666666667%; }
    .span_20 { width: 83.3333333333%; }
    .span_21 { width: 87.5%; }
    .span_22 { width: 91.6666666667%; }
    .span_23 { width: 95.8333333333%; }
    .span_24 { width: 100%; }

    .gutters .span_1 { width: 2.25%; }
    .gutters .span_2 { width: 6.5%; }
    .gutters .span_3 { width: 10.75%; }
    .gutters .span_4 { width: 15.0%; }
    .gutters .span_5 { width: 19.25%; }
    .gutters .span_6 { width: 23.5%; }
    .gutters .span_7 { width: 27.75%; }
    .gutters .span_8 { width: 32.0%; }
    .gutters .span_9 { width: 36.25%; }
    .gutters .span_10 { width: 40.5%; }
    .gutters .span_11 { width: 44.75%; }
    .gutters .span_12 { width: 49.0%; }
    .gutters .span_13 { width: 53.25%; }
    .gutters .span_14 { width: 57.5%; }
    .gutters .span_15 { width: 61.75%; }
    .gutters .span_16 { width: 66.0%; }
    .gutters .span_17 { width: 70.25%; }
    .gutters .span_18 { width: 74.5%; }
    .gutters .span_19 { width: 78.75%; }
    .gutters .span_20 { width: 83.0%; }
    .gutters .span_21 { width: 87.25%; }
    .gutters .span_22 { width: 91.5%; }
    .gutters .span_23 { width: 95.75%; }
    .gutters .span_24 { width: 100%; }
}

/*
 *****************OUR CSS**************
*/


a,
a:visited{
    color: black;
}

nav {
    margin-top: 1vh;
    position: relative;
    padding-bottom: 4%;
}
nav ul {
    display: none;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 0 0 5vh;
}
nav ul li{
    text-align: left;
}
nav ul li a {
    display: block;
    padding: 1em 1em 0 1em;
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

nav ul li a:hover {
    color: darkslategrey;
}

nav ul li:last-of-type a {
    border-right: 0px;
}
nav ul li ul li a {
    padding-left: 1.5em;
}
nav ul li ul li ul li a {
    padding-left: 3.125em;
}
nav ul li span{
    display: block;
    text-decoration: none;
    padding-left: 1.25em;
    text-align: left;
    font-size: small;
}

nav input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
nav input.trigger:checked ~ ul, nav input.trigger:checked ~ ul li ul {
    display: block !important;
}
@media (min-width: 1600px) {
    nav input.trigger:checked ~ ul, nav input.trigger:checked ~ ul li ul {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        display: flex;
        flex-direction: row;
    }
}
nav label {
    position: relative;
    display: block;
    min-height: 2em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    cursor: pointer;
    background: #ccc;
    line-height: 2em;
    color: darkslategrey;
}
nav label:after {
    position: absolute;
    right: 1em;
    top: .2em;
    content: "\2261";
    font-size: 1.8em;
    color: white;
}

aside{
    height: 100%;
    margin-bottom: 0;
}
.client img{
    width: 25%;
    border: 2px solid black;
}

@media (min-width: 1760px) {

    nav ul {
        display: -ms-flexbox;
        flex-direction: -ms-row;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;
        /* newer flexbox */
        display: flex;
        flex-direction: row;
    }
    nav ul li {
        position: relative;
        text-align: center;
        -ms-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        flex: 1;
    }
    nav ul li ul {
        display: none !important;
        position: absolute;
        top: 3.0625em;
        left: 0;
        display: block;
        width: 12.5em;
        z-index: 200;
    }
    nav ul li ul li {
        text-align: left;
    }
    nav ul li ul li ul {
        z-index: 300;
        top: 0px;
        left: 12.4em;
    }
    nav ul li ul li ul li a {
        padding-left: 30px !important;
    }
    nav ul li:hover > ul {
        display: block !important;
    }
    nav label {
        display: none;
    }

    .container {
        margin: 0 20%;
    }
}


@media ( min-width : 40px ) {

    .decorated{
        border-bottom: 5px solid #ccc;
        border-top: 5px solid #ccc;
    }

    .main{
        display: flex;
        align-items: stretch;
    }

    .banner{
        display: inherit;
        width: 95%;
        margin-right: 10%;
    }

    .banner-item{
        display: inherit;
        width: 100%;
        transition: all 0.4s ease-in-out;
    }


    .banner img:first-of-type{
        width: 100%;
        margin-right: 10%;
        display: inherit;
    }

    .banner-item > span{
        opacity: 0;
        background-color: rgba(58, 1, 132, 0.44);
        transition: all 0.4s ease-in-out;
    }

    .banner-item:hover > span
    {
        position: relative;
        display: flex;
        background-color: rgba(12, 19, 27, 0.6);
        /*width: 300px;
        padding: 105px;
        height: 200px;*/
        opacity: 0;
        transform: translate(265px, 145px) rotate(45deg);
        -webkit-transform: translate(265px, 145px) rotate(45deg);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }


    .lower{
        text-transform: lowercase;
    }

    .title-zone div h4{
        margin-top: 5vh;
    }

    .client img{
        width: 32.5%;
        border: 2px solid black;
    }

    /*//////////////////////////////////////////*/

    .view {
        width: 100%;

        background-color: black;
        float: left;
        overflow: hidden;
        position: relative;
        display: flex;
        text-align: center;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
    }

    .view .mask,
    .view .content {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }

    .mask{
        width: 100%;
        height: 100%;
    }
    .view img {
        width: 100%;
        display: block;
        position: relative
    }

    .view h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        font-family: Raleway, serif;
        padding: 10px;
        /*background: rgba(0, 0, 0, 0.8);*/
        margin: 30% 0 0 0
    }

    .view p {
        font-style: italic;
        font-size: 14px;
        position: relative;
        color: #fff;
        padding: 0px 20px 0px;
        text-align: center
    }

    .view a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        font-family: Raleway, serif;
        text-transform: uppercase;
        box-shadow: 0 0 1px #000
    }

    .view a.info:hover {
        box-shadow: 0 0 5px #000
    }

    .view-first img {
        /*1*/
        transition: all 0.2s linear;
        /*width: 300px;
        height: 200px;*/
    }

    .view-first .mask {
        opacity: 0;
        background-color: rgba(36, 44, 35, 0.44);
        transition: all 0.4s ease-in-out;
    }

    .view-first h2 {
        transform: translateY(-100px);
        opacity: 0;
        font-family: Raleway, serif;
        transition: all 0.2s ease-in-out;
    }

    .view-first p {
        transform: translateY(100px);
        opacity: 0;
        transition: all 0.2s linear;
    }

    .view-first a.info {
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }


    /* */

    .view-first:hover img {
        transform: scale(1.1);
    }

    .view-first:hover .mask {
        opacity: 1;
    }

    .view-first:hover h2,
    .view-first:hover p,
    .view-first:hover a.info {
        opacity: 1;
        transform: translateY(0px);
    }

    .view-first:hover p {
        transition-delay: 0.1s;
    }

    .view-first:hover a.info {
        transition-delay: 0.2s;
    }

    .no-bottom--border{
        border-bottom: none;
    }

    .special{
        background-color: #ccc;
        padding: 4%;
        text-align: center;
        border-radius: 10%;
        -webkit-box-shadow: 17px 7px 17px -9px rgba(230,230,230,0.76);
        -moz-box-shadow: 17px 7px 17px -9px rgba(230,230,230,0.76);
        box-shadow: 17px 7px 17px -9px rgba(230,230,230,0.76);
    }

    .middle{
      box-sizing: border-box;
      width: 65%;
      border: 5px solid #ccc;
      margin: .25em;
      margin-top: 0;
      background: #f9f9f9;
      border-left: 10px solid #ccc;
      padding: 0.5em 10px;
    }

    .testimonial {
        background: #f9f9f9;

        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }
    .testimonial:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    .testimonial p {
        display: inline;
        margin: 0;
    }
    .testimonial:after {
        color: #ccc;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
}
